body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 15px;
}

p {
  line-height: 1.5;
}

a {
  color: white;
}

a:hover {
  color: #512e92;
}

h2 {
  font-weight: 800;
  font-style: italic;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.btn {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 10px;
}

.btn.btn-sharp {
  border-radius: 0;
}

.btn-primary {
  background: #512e92;
  border: 2px solid #512e92;
}

.btn-primary:hover {
  background-color: white;
  border-color: white;
  color: #512e92;
}

.btn-default {
  background: transparent;
  border: 2px solid white;
}

.btn-default:hover {
  border-color: white;
  background-color: white;
}

.navbar {
  font-weight: 300;
  margin-top: 150px;
  z-index: 1;
}

.navbar-toggle {
  border-color: #ddd;
}

.navbar-toggle:hover {
  background-color: #ddd;
}

.navbar-toggle .icon-bar {
  background-color: #888;
}

.intro-header {
  color: white;
  background: #512e92 url(./img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 20px 0 50px 0;
}

.nav-container > ul {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.tourney-logo {
  margin-top: -210px;
  text-align: center;
}

.tourney-logo > img {
  margin-bottom: 30px;
  max-height: 300px;
  max-width: 100%;
}

@media (max-width: 1199px) {
  .tourney-logo {
    margin-top: -160px;
  }

  .tourney-logo > img {
    max-height: 180px;
  }

  .navbar {
    margin-top: 100px;
  }
}

@media (max-width: 991px) {
  .tourney-logo {
    margin-top: -270px;
  }

  .tourney-logo > img {
    max-height: 200px;
    margin-bottom: 70px;
  }

  .navbar {
    margin-top: 200px;
  }
}

@media (max-width: 767px) {
  .tourney-logo {
    margin-top: 0;
  }

  .tourney-logo > img {
    margin-bottom: 20px;
  }

  .navbar {
    margin-top: 0;
  }

  .nav-container > ul.left {
    border-bottom: none;
  }

  .nav-container > ul.right {
    border-top: none;
  }
}

.main-header {
  text-transform: uppercase;
  font-family: "UTM Hanzel", sans-serif;
}

.info-container {
  background-color: #512e92;
  padding-bottom: 40px;
  padding-top: 40px;
}

.intro-logo {
  max-width: 100%;
}

.info-paragraphs {
  margin-top: 40px;
}

.elim-container {
  background: #512e92 url(./img/elim-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 40px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 20px;
}

/* http://stackoverflow.com/a/22603610 */

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100px;
  height: 2px;
  background: white;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.box {
  min-height: 200px;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  border: 5px solid white;
}

.hover-box:hover {
  border: 5px solid #512e92;
  background-color: #512e92;
}

.box-title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.box-date {
  font-size: 16px;
  font-weight: 300;
}

.icon-user {
  font-size: 25px;
}

.finals-container {
  background: #512e92;
  padding: 40px 0;
}

.infinity-logo {
  text-align: center;
}

.infinity-logo > img {
  max-height: 250px;
}

.finals-info {
  font-size: 24px;;
  font-weight: 700;
}

.venue-address {
  font-size: 20px;
}

.finals-header {
  margin: 40px 0;
  padding: 15px 0 15px 100px;
  background-color: white;
  width: 400px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #512e92;
}

.top-eight {
  text-align: center;
}

.top-eight > img {
  width: 100%;
  max-width: 300px;
}

.top-eight > h3 {
  margin-top: -100px;
  margin-bottom: 100px;
  font-size: 50px;
  font-weight: 800;
  text-shadow:
   -3px -3px 0 #512e92,
    3px -3px 0 #512e92,
    -3px 3px 0 #512e92,
     3px 3px 0 #512e92;
}

.box-question {
  font-size: 90px;
  font-weight: 800;
}

.box-game img {
  max-width: 100%;
}

.box-game > span {
  display: inline-block
  height: 100%;
  vertical-align: middle;
}

.box-game {
  height: 280px;
}

.reg-button {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 50px;
}

.reg-button > .btn {
  padding-left: 30px;
  padding-right: 30px;
}

.kof-logo { /* fuck */
  margin-top: 20px;
}

.cosplay-logo { /* I'm so sorry... */
  margin-top: -130px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .box-game {
    height: auto;
  }

  .reg-button {
    position: static;
  }
}

.prize-container {
  background: #512e92 url(./img/prize-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 40px 0;
}

.bordered {
  width: 100%;
  border: 4px solid white;
}

.prize-description {
  background-color: white;
  color: #333;
  text-align: center;
  padding: 20px 10px;
}

.other-prize-description {
  height: 130px;
}

.prize-logo {
  padding: 40px;
  text-align: center;
}

.prize-logo > img {
  max-width: 100%;
  max-height: 250px;
}

.other-prize-logo {
  padding: 10px;
  text-align: center;
  height: 160px;
}

.other-prize-logo > img {
  max-width: 100%;
  max-height: 100%;
}

.other-prize-logo .cosplay-logo {
  max-width: 70%;
  margin-top: -200px;
}

/* Fuck this imma use flexbox anyway. Old IEs can fuck off.
   http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3/25517025#25517025
 */
.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items 
                              horizontally within the column  */
}

.other-prize {
  margin-top: 30px;
}

.rules-container {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 60px;
}

.rules-text {
  font-weight: bold;
  font-size: 16px;
  margin-top: -15px;
}

.rules-text > p {
  margin-bottom: 15px;
}

.stream-container {
  background-color: #512e92;
  padding-bottom: 40px;
}

.stream-link {
  text-decoration: none;
}
.stream-link:hover {
  color: white;
  text-decoration: underline;
}

table {
  font-size: 17px;
  padding: 5px;
}

th {
  font-weight: 800;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  line-height: 2;
}

.twitch-col > iframe {
}

.about-container {
  color: #333;
  background-color: #f4f4f4;
  padding-bottom: 40px;
}
.about-container h2 {
  color: #512e92;
}
.about-container .strike > span:before,
.about-container .strike > span:after {
  background: #512e92;
}

.credits {
  text-align: center;
  margin-bottom: 30px;
}

.about-header {
  font-weight: 800;
  font-size: 20px;
}

.about-img {
  max-height: 150px;
  max-width: 100%;
  margin: 15px 15px 25px 15px;
}

hr {
  margin: 0;
  background-color: #512e92;
  height: 15px;
}

.footer-container {
  padding-top: 40px;
  background-color: #f4f4f4;
  text-align: center;
  color: #333;
}

.footer img {
  max-width: 100%;
}

.footer a:hover {
  text-decoration: none;
}

.social-img {
  margin: 20px 10px;
}


/*
 * Css magic to make video size responsive:
 * http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
 */
.video-wrapper {
  position: relative;
  padding-bottom: 75%;
  padding-top: 0px;
  height: 0;
}
#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.reflect {
  display: block;
  margin-bottom: 20px;
  position: relative;
  -webkit-box-reflect: below 5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
}

.reflect img {
  z-index: -1;
}
