body {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

a {
  color: white;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 10px;
}

.btn-primary {
  background: #512e92;
  border: 2px solid #512e92;
}

.btn-default {
  background: transparent;
  border: 2px solid white;
}

.navbar {
  margin-top: 150px;
  z-index: 1;
}

.navbar-toggle {
  border-color: #ddd;
}

.navbar-toggle:hover {
  background-color: #ddd;
}

.navbar-toggle .icon-bar {
  background-color: #888;
}

.intro-header {
  color: white;
  background: #b2b2b2 url(./img/intro-bg.png) no-repeat center center;
  background-size: cover;
  padding: 20px 0 50px 0;
}

.nav-container > ul {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.tourney-logo {
  margin-top: -210px;
  text-align: center;
}

.tourney-logo > img {
  margin-bottom: 30px;
  max-height: 300px;
  max-width: 100%;
}

@media (max-width: 1199px) {
  .tourney-logo {
    margin-top: -160px;
  }

  .tourney-logo > img {
    max-height: 180px;
  }

  .navbar {
    margin-top: 100px;
  }
}

@media (max-width: 991px) {
  .tourney-logo {
    margin-top: -270px;
  }

  .tourney-logo > img {
    max-height: 200px;
    margin-bottom: 70px;
  }

  .navbar {
    margin-top: 200px;
  }
}

@media (max-width: 767px) {
  .tourney-logo {
    margin-top: 0;
  }

  .tourney-logo > img {
    margin-bottom: 20px;
  }

  .navbar {
    margin-top: 0;
  }

  .nav-container > ul.left {
    border-bottom: none;
  }

  .nav-container > ul.right {
    border-top: none;
  }
}

.main-header {
  text-transform: uppercase;
}

.info-container {
  background-color: #512e92;
  padding-bottom: 40px;
}

.intro-logo {
  max-width: 100%;
}

.sfv-logo {
  margin-bottom: 20px;
}

.info-paragraphs {
  margin-top: 40px;
}

.elim-container {
  background: #b2b2b2 url(./img/intro-bg.png) no-repeat center center;
  background-size: cover;
}
